@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin: 0;
    padding:0;
    background-color: black;
}
.about{
    color: white;
    font-size: 80px;
    opacity: 90%;
    text-align: center;
}
.abbout{
    display: block;
    color: white;
    width: 350px;
    height: 600px;
    font-size: 30px;
    word-spacing: 5px;
    font-family: 'Kanit', sans-serif;
    opacity: 60%;
    text-align: center;
    margin-top: 40px;
}
.profile{
    display: block;
    position: relative;
    width:600px;
    height:600px;
    border: 2px solid transparent;
}
.gap{
    padding-top: 1px;
}
.main1{
	display: flex;
    position: relative;
	justify-content: center;
	padding-top: 50px;
}
a {
	text-decoration: none;
	color: white;
	opacity: 70%;
}
.main-h{
	display: flex;
    position: fixed;
	color:white;
	background-color: black;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	height: 50px;
	width:80%;
	border:none;
	border-radius: 30px;
	transition: border 2s,box-shadow 1.5s;
}
.main-h a{
	transition: font-size 1s;
}
.main-h a:hover{
	color:grey;
	font-size:20px;
	transition: font-size 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reveal-text {
    color: white;
    opacity: 0;
    animation: fadeIn 5s ease-out forwards;
}

.main-h:hover{
	border:1px solid #06b6d4;
	box-shadow: 1px 1px 100px 1px #06b6d4;
	transition: border 2s,box-shadow 1.5s;
}
.profile:hover{
    border: 1px solid #06b6d4;
    box-shadow: 1px 1px 100px 1px #06b6d4;
    transition: border 1s, box-shadow 1s;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10vw;
    height: 100vh;
}

.stars {
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
  }
  canvas {
    position: absolute;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
  }
  
  .stars a {
    bottom: 2vmin;
    right: 2vmin;
    text-decoration: none;
  }
  
  .stars a:hover {
    color: #fff;
  }