.main-h{
    word-spacing: 10px;
    color:white;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50%;
    border:none;
    border-radius: 30px;
    transition: border 2s;
    transition: border 2s,box-shadow 1.5s;
}
.main-h a{
    margin-right: 20px;
    transition: font-size 1s;
}
.main-h a:hover{
    color:grey;
    font-size:20px;
    transition: font-size 0.5s;
}
.main-h:hover{
    border:1px solid #06b6d4;
    box-shadow: 1px 1px 100px 1px #06b6d4;
    transition: border 2s,box-shadow 1.5s;
}
.main{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
}
#homepage{
    width:100%;
    height: 850px;
    background-color: #050c2a;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding:0;
    background-color: #050c2a;
}
.line{
    margin-left: 555px;
    margin-top: 20px;
    height: 5px;
    width: 25%;
    justify-content: center;
    background-color: #06b6d4;
    box-shadow: 10px 100px 150px 120px #2ca3b9;
    transition: width 1s,margin-left 1s,background-color 1s,box-shadow 1s,border 1s;
}
.line:hover{
    margin-left: 520px;
    width:30%;
    background-color: #2ca3b9;
    box-shadow: 10px 100px 150px 120px #06b6d4;
    transition: width 1s,margin-left 1s,background-color 1s,box-shadow 1s,border 1s;
}
.name{
    color: white;
    opacity: 50%;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    transition: opacity 4s,font-size 1s;
}
.name:hover{
    opacity:100%;
    font-size: 110px;
    transition: opacity 4s,font-size 1s;
}
.info{
    color: white;
    font-size: 20px;
    text-align: center;
}
.github{
    position: relative;
    margin-right: 10px;
    width:60px;
    height:60px;
    border-radius: 50%;
    opacity: 50%;
    transition: margin-bottom 2s,box-shadow 2s;
    transition: opacity ease 2s;
    transition: width 2s,height 2s;
}
.linkedin{
    margin-right: 10px;
    position: relative;
    width:60px;
    height:60px;
    border-radius: 50%;
    opacity: 50%;
    transition: margin-bottom 2s,box-shadow 2s;
    transition: opacity ease 2s;
    transition: width 2s,height 2s;
}
.instagram{
    margin-right: 10px;
    position: relative;
    width:60px;
    height:60px;
    border-radius: 50%;
    opacity: 50%;
    transition: margin-bottom 2s,box-shadow 2s;
    transition: opacity ease 2s;
    transition: width 2s,height 2s;
}
.gmail{
    margin-right: 10px;
    position: relative;
    width:60px;
    height:60px;
    border-radius: 50%;
    opacity: 50%;
    transition: margin-bottom 2s,box-shadow 2s;
    transition: opacity ease 2s;
    transition: width 2s,height 2s;
}
.github:hover,.linkedin:hover,.instagram:hover,.gmail:hover{
    opacity: 100%;
    width: 70px;
    height: 70px;
    box-shadow: 10px 10px 50px 1px #06b6d4;
    margin-bottom: 10px;
    transition: margin-bottom 2s,box-shadow 2s;
    transition: opacity ease 2s;
    transition: width 2s,height 2s;
}
#homepage2{
    width:100%;
    height: 850px;
    background-color: #050c2a;
    margin: 0;
    padding: 0;
}
.projects{
    position: relative;
    color:white;
    font-size:70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    opacity: 50%;
    transition: opacity 1s,font-size 1s;
}
.projects:hover{
    opacity: 70%;
    font-size:75px;
    transition: opacity 1s,font-size 1s;
}
.description{
    position: relative;
    text-align: center;
    color: white;
    word-spacing: 5px;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.netflix{
    position: absolute;
    width: 40%;
    height: 40%;
    margin-top: 40px;
    margin-left: 50px;
    transition: width 2s,height 2s,opacity 2s,margin-left 2s;
}
.netflix:hover{
    width: 43%;
    height: 43%;
    opacity: 70%;
    margin-left: 60px;
    border:1px solid red;
    box-shadow: 1px 1px 100px 1px red;
    transition: width 2s,height 2s,opacity 2s,margin-left 2s;
}
.dine{
    position: absolute;
    margin-left: 750px;
    width: 40%;
    height: 40%;
    margin-top: 40px;
    transition: width 2s,height 2s,opacity 2s,margin-left 2s;
}
.dine:hover{
    width: 43%;
    height: 43%;
    transition: 0ms;
    opacity: 70%;
    margin-left: 700px;
    border:1px solid #06b6d4;
    box-shadow: 1px 1px 100px 1px #06b6d4;
    transition: width 2s,height 2s,opacity 2s,margin-left 2s;
}
.netflixf{
    position: absolute;
    color:white;
    font-size: 40px;
    margin-top: 50px;
}
.dinef{
    position: absolute;
    color:white;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 1400px;
}
.skills{
    width:100%;
    height: 100%;
}
.para{
position: absolute;
color:white;
font-size:70px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
text-align: center;
opacity: 50%;
margin-left: 600px;
}
.html{
    position: relative;
    margin-right: 30px;
    width:70px;
    height:70px;
    border-radius: 50%;
    margin-left: 550px;
    margin-top: 200px;
    transition: width 2s,height 2s,opacity 2s,box-shadow 2s,border 2s;
}
.css{
    margin-right: 30px;
    position: relative;
    width:70px;
    height:70px;
    border-radius: 50%;
    transition: width 2s,height 2s,opacity 2s,box-shadow 2s,border 2s;
}
.cpp{
    margin-right: 30px;
    position: relative;
    width:70px;
    height:70px;
    border-radius: 50%;
    transition: width 2s,height 2s,opacity 2s,box-shadow 2s,border 2s;
}
.python{
    margin-right: 30px;
    position: relative;
    width:70px;
    height:70px;
    transition: width 2s,height 2s,opacity 2s,box-shadow 2s,border 2s;
    border-radius: 50%;
}
.html:hover,.css:hover,.cpp:hover,.python:hover{
    width:100px;
    height:100px;
    opacity: 100%;
    border:1px solid #06b6d4;
    box-shadow: 1px 1px 100px 1px #06b6d4;
    transition: width 2s,height 2s,opacity 2s,box-shadow 2s,border 2s;
    box-shadow: 10px 10px 50px 1px #06b6d4;
}
.names{
    position: absolute;
    color:white;
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 640px;
}
#homepage3{
    width:100%;
    height: 550px;
    background-color: #050c2a;
    margin: 0;
    padding: 0;
}
footer{
    color: white;
    text-align: center;
    transition: font-size 2s;
}
    a {
        text-decoration: none;
        color: white;
        opacity: 70%;
      }
      .social-media{
        display: relative;
        padding-left: 585px;
        padding-top: 1rem;
    }
footer:hover{
    font-size:20px;
    transition: font-size 2s;
}
