@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin: 0;
    padding:0;
    background-color: black;
}
.about{
    color: white;
    font-size: 80px;
    opacity: 50%;
    text-align: center;
}
.abbout{
    color: white;
    opacity: 80%;
    width: 350px;
    height: 800px;
    font-size: 30px;
    word-spacing: 5px;
    margin-left: 1000px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
    text-align: center;
}
.profile{
    position: absolute;
    width:600px;
    height:600px;
    margin-left: 200px;
    margin-top: 80px;
}
.main-h{
    word-spacing: 10px;
    color:black;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50%;
    border:none;
    border-radius: 30px;
    margin-left: 400px;
    margin-top: 50px;
}
.main-h a{
    margin-right: 20px;
    text-decoration: none;
    color: grey;
    opacity: 70%;
}
.main-h a:hover{
    color:white;
}
.main-h:hover{
    background-color: black;
    color: white;
    border:1px solid #06b6d4;
    box-shadow: 1px 1px 100px 1px #06b6d4;
    transition: background-color 2s,color 2s,border 2s,box-shadow,2s;
}
.profile:hover{
    border:1px solid #06b6d4;
    box-shadow: 1px 1px 100px 1px #06b6d4;
    transition: border 1s,box-shadow 1s;
}